network/channel-artifacts/*.tx
network/channel-artifacts/*.block
network/crypto-config/*
network/docker-compose-e2e.yaml
network/ledgers
network/ledgers-backup

# fabric sdk node modules
client/node_modules/
client/package-lock.json
client/hfc-key-store/

